




.h-overflow-none{
    overflow: hidden;
    width: 100%;
    height: 100%;
}


.h-bg-img{
    background:url(../images/1-151005230520.jpg) no-repeat center;
    background-size:contain;
    overflow: hidden;
}

/*背景图片 鼠标hover 比例变大*/
.h-bg-img-hover{
    cursor: pointer;
    transition: all 0.5s; /* 所有的属性变化在0.5s的时间段内完成 */
}

.h-bg-img-hover:hover{
    transform: scale(1.2); /* 鼠标放到图片上的时候图片按比例放大1.5倍   */
}

.h-bg{
    background:url(../images/lingdan.jpg) no-repeat center;
    overflow: hidden;
}

.category:before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 100%;
    height: 1px;
    width: 45px;
    background-color: #FF7171;
    margin-left: 10px;
}
.category a {
    font-weight: 700;
    font-family: "Spectral", serif;
    color: #FF7171;
    font-size: 18px;
}


/*首页分类*/
.h-section{
    font-size: 30px;
    background-image: linear-gradient(0deg, #ffc107 20%, transparent 0%);
}

/*首页文章*/

.h-post{
    width: 100%;
    height: 320px;
}

.h-vertical-2{
    width: 100%;
    height: 640px;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

    /*轮播图*/
    .h-carousel-img{
        width: 300px;
        height: 300px;
    }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    /*轮播图*/
    .h-carousel-img{
        width: 300px;
        height: 300px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    /*轮播图*/
    .h-carousel-img{
        width: 300px;
        height: 300px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    /*轮播图*/
    .h-carousel-img{
        width: 100%;
        height: auto;
    }
}